table {
  &.table-cron-tasks {
    th, td {
      &.cron-interval {
        @extend .numeric;
        width: 200px;
        font-size: $font-size-small;
         &.edit-mode {
           cursor: zoom-in;
         }
      }

      &.cron-user {
        width: 150px;
      }

      &.cron-command {
        //
      }
    }
  }
}
